.label {
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-text-fill: #333333; /* Couleur du texte */
}

/* Style pour les boutons */
.button {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: #ffffff; /* Couleur du texte */
    -fx-background-color: #4CAF50; /* Couleur de fond du bouton */
    -fx-padding: 10px 20px; /* Espacement du texte à l'intérieur du bouton */
}

/* Style pour les boutons lorsqu'ils sont survolés */
.button:hover {
    -fx-background-color: #45a049; /* Couleur de fond du bouton lorsqu'il est survolé */
}

/* Style pour les boutons lorsqu'ils sont pressés */
.button:pressed {
    -fx-background-color: #3e8449; /* Couleur de fond du bouton lorsqu'il est pressé */
}