{% extends 'base-front.html.twig' %}

{% block title %}Quiz Success{% endblock %}

{% block body %}
    <div class="container py-5">
        <h1 class="text-center mb-4" style="color: #4CAF50;">Quiz Passed Successfully!</h1>
        <p class="text-center mb-4">Congratulations! You've successfully passed the quiz.</p>
        <div class="text-center">
            <a href="{{ path('show_quizzes_front', {'formationId': formationId}) }}" class="btn btn-success">Continue Learning</a>
        </div>
    </div>
{% endblock %}
